body{
    font: 13px Arial, Helvetica, sans-serif;
}

#user_pass, #user_div{
    text-align: center;
    margin:30px;
    font-size: 20px;
}

label{
    display: block;
    margin: 0 0 15px 0;
}

input{
    width: 300px;
    height: 30px;
    font-size: 25px;
    font-size-adjust: auto;
    /*border-radius: 15px;*/
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}

#sub{
    text-align: center;
}

button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    background-color: tomato;
    color: white;
    
}

hr{
    margin-top: 20px;
    border: 2px solid black;
}



button:hover{
    background-color: orangered;
    cursor: pointer;
}

hr{
    color: black;
}



img {
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 20px;
}

/*.producto{
    font: 20px Arial, Helvetica, sans-serif;
    font-kerning: normal;
}*/

.price{
    display: inline-block;
    font: 25px Arial, Helvetica, sans-serif;
    color: black;
    
}

.add{
    width:15%;
    background-color: lightskyblue;
    color:white;
    display: inline-block;
    margin-left: 50%;
    margin-right: 0;  
}

.add:hover{
    background-color: lightseagreen;
}

.bcont{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.scont{
     text-align: center;
  padding: 10px 20px;
}

/*---------------------------------------------------------*/

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    width: 200px;
}
























